main {
  min-height: 80vh;
}

.rating span {
  margin: 0.05rem;
}

h2 {
  padding: 10px 0;
  font-size: 1.5rem;
}

h3 {
  padding: 10px 0;
  font-size: 1.2rem;
}

.card-image {
  height: 90%;
  width: 90%;
}

.productScreen-image {
  min-width: 50%;
}
